.Footer {
  width: 100%;
  border-top: 5px solid #4b6346;
  background-color: #313b2e;
  color: #f5faf5;
  box-shadow: none;

  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  @media (min-width: 768px) {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.boutons-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.supprimer {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

// Pour que les tâches actives soient plus grandes
p {
  font-size: clamp(0.938rem, 0.75rem + 0.6vi, 1.125rem);

  @media (max-width: 768px) {
    margin-top: 0;
  }
}
