.tache-item {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.Liste-des-taches {
  padding: 0;
  margin: 0 auto;

  

  list-style-type: none;

  @media (min-width: 768px) {
    max-width: 800px;
    
  }
}